<style type="text/css">
body {
  overflow: hidden;
}
#main {
  position: absolute;
  width: 100%;
  height: 100%;
}
#area {
  width: 90%;
  height: 95%;
  margin: 5% auto;
  max-width: 100%;
}
#area img {
  max-height: 90%!important;
}
#area iframe {
  border: none;
}
#prev, #next {
  background-color: rgba(1,1,1,0.1);
}
#prev {
  left: 0;
  padding: 10% 10% 13% 0;
}
#next {  
  right: 0;
  padding: 10% 0 13% 10%;
}
.arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  font-size: 64px;
  color: rgba(5,5,5,0.2);
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.arrow:hover {
  color: #777;
}
.arrow:active {
  color: #000;
}
#loader {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin: -33px 0 0 -33px;
}
#toc {
  position: absolute;
  top: 0;
  left: 0;
}
</style>
<ion-view view-title="{{book.title}}">
  <ion-content class="scroll-bg2" scroll="false" on-swipe-left="bookNext()">
    <div id="main">
      <div id="prev" on-tap="bookPrev()" class="arrow">‹</div>
      <div id="area"></div>
      <div id="next" on-tap="bookNext()" class="arrow">›</div>
    </div>
  </ion-content>
</ion-view>