<ion-view view-title="Settings">
  <ion-content class="scroll-bg">
    <ion-list>
      <ion-item>
        <div class="list card">
          
          <div class="item item-divider">
            General Settings
          </div>
          
          <label class="item item-input item-select">
            <div class="input-label">
              Book Purchases
            </div>
            <select>
              <option>Show All</option>
              <option selected>Show Shared</option>
              <option>Show None</option>
            </select>
          </label>
          
          <div class="item item-toggle">
            Auto Download Books
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

          <div class="item item-divider">
            Account Settings
          </div>
          
          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-person"></i>
            View Profile
            <i class="icon ion-arrow-right-c"></i>
          </a>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>